:root {
    /* Breakpoints */
    --x-breakpoint: 1294px;

    /* Sidebar widths */
    --sidebar-wide: 260px;
    --sidebar-narrow: 76px;

    /* Colores institucionales */
    --verde-imss: #006341;
    --verde-secundario: #2E8B57;
    --dorado-imss: #CBA135;
    --gris-borde: #e5e7eb;

    /* Otros */
    --sidebar-transition: width 0.25s ease;
}

html, body {
    font-family: "Noto Sans", sans-serif;
}

a, .btn-link {
    color: #006341; /* Verde institucional */
}

.btn-primary {
    color: #fff;
    background-color: #006341;
    border-color: #2E8B57; /* Verde claro */
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #CBA135; /* Dorado */
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #2E8B57; /* Verde claro */
}

.invalid {
    outline: 1px solid #b32121; /* Rojo institucional */
}

.validation-message {
    color: #b32121;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,...) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "Ha ocurrido un error.";
}

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
    text-align: start;
}
